In [2]:
# Write a Python program to create and display a onedimensional array-like object containing an array of data using
# Pandas module.

import pandas as pd
arr1 = pd.Series([1,2,3,4,5])
print(type(arr1))
print(arr1)

<class 'pandas.core.series.Series'>
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# Write a Python program to convert a Panda module Series to Python list and its type

arr1 = pd.Series([1,2,3,4,5])
print(type(arr1))
print(arr1)

list1 = arr1.tolist()
print(type(list1))

<class 'pandas.core.series.Series'>
0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'list'>

In [10]:
# Write a Python program to add, subtract, multiple and divide two Pandas Series

s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,5])

add_series = s1 + s2
sub_series = s1 - s2
mul_series = s1 * s2
div_series = s1 / s2

print(f'Add:\n{add_series}\n\nSubstract:\n{sub_series}\n\nMultiply:\n{mul_series}\n\nDivide:\n{div_series}')

Add:
0     7
1     9
2    11
3    13
4    10
dtype: int64

Substract:
0   -5
1   -5
2   -5
3   -5
4    0
dtype: int64

Multiply:
0     6
1    14
2    24
3    36
4    25
dtype: int64

Divide:
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    1.000000
dtype: float64

In [36]:
# Write a Python program to compare the elements of the two Pandas Series.


s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([9,6,5,7,8])

print(f's1 greater than s2:\n{s1 > s2}\n')
print(f's1 less than s2:\n{s1 < s2}\n')
print(f's1 equal to s2:\n{s1 == s2}\n')
print(f's1 not equal to s2:\n{s1 != s2}\n')

s1 greater than s2:
0    False
1    False
2    False
3    False
4    False
dtype: bool

s1 less than s2:
0    True
1    True
2    True
3    True
4    True
dtype: bool

s1 equal to s2:
0    False
1    False
2    False
3    False
4    False
dtype: bool

s1 not equal to s2:
0    True
1    True
2    True
3    True
4    True
dtype: bool

In [67]:
# Write a Python program to create and display a Data Frame from a specified dictionary data which has the index labels.

player_details = {'Name':['Sachin', 'Ganguly', 'Dravid'],
                  'Matches':[484,350,390],
                  'Runs':[14000,11000,12000]}
labels = ['a','b','c']

p_details = pd.DataFrame(player_details, index = labels)
p_details

      Name  Matches   Runs
a   Sachin      484  14000
b  Ganguly      350  11000
c   Dravid      390  12000

In [69]:
# Write a Python program to select the specified columns and rows from a given Data Frame.
# 1st method (using .loc)

p_details.loc['a':'b','Matches':'Runs']

   Matches   Runs
a      484  14000
b      350  11000

In [70]:
# 2nd method
p_details.loc[['a','b'], ['Matches','Runs']]

   Matches   Runs
a      484  14000
b      350  11000

In [75]:
# 3rd method(using.iloc)

p_details.iloc[0:2, 1:3]

   Matches   Runs
a      484  14000
b      350  11000

In [99]:
# Write a Python program to select the rows the score is between 15 and 20 (inclusive).

candidate_details = {'Name':['Adam','Tom','Luther','David','Jerry'],
           'Attempts':[1,1,3,2,1],
           'Score':[25,10,30,19,16]}
candidate_details = pd.DataFrame(candidate_details, index=['a','b','c','d','e'])

candidate_details

# 1st method
print(candidate_details[(candidate_details.Score > 15) & (candidate_details.Score <= 20)])

print('\n')
# 2nd method

print(candidate_details[candidate_details['Score'].between(15, 20)])

    Name  Attempts  Score
d  David         2     19
e  Jerry         1     16


    Name  Attempts  Score
d  David         2     19
e  Jerry         1     16

In [90]:
# Write a Python program to select the rows where number of attempts in the examination is less 
# than 2 and score greater than 15

candidate_details = {'Name':['Adam','Tom','Luther','David','Jerry'],
           'Attempts':[1,1,3,2,1],
           'Score':[25,10,30,19,16]}
candidate_details = pd.DataFrame(candidate_details, index=['a','b','c','d','e'])

print(candidate_details[(candidate_details['Attempts'] < 2) & (candidate_details['Score'] > 15)])

    Name  Attempts  Score
a   Adam         1     25
e  Jerry         1     16

In [98]:
# Write a Python program to append a new row 'k' to Data Frame with given values for each column.
# Now delete the new row and return the original data frame.

candidate_details = {'Name':['Adam','Tom','Luther','David','Jerry'],
           'Attempts':[1,1,3,2,1],
           'Score':[25,10,30,19,16]}
candidate_details = pd.DataFrame(candidate_details, index=['a','b','c','d','e'])
candidate_details.loc['k'] = ['Rahul', 2, 32]
print(candidate_details)

print('\n')

# Let remove the added row 'k'
candidate_details.drop('k', axis=0, inplace=True)
print(candidate_details)

     Name  Attempts  Score
a    Adam         1     25
b     Tom         1     10
c  Luther         3     30
d   David         2     19
e   Jerry         1     16
k   Rahul         2     32


     Name  Attempts  Score
a    Adam         1     25
b     Tom         1     10
c  Luther         3     30
d   David         2     19
e   Jerry         1     16

In [105]:
# Write a Python program to sort the data frame first by 'name' in descending order, then by 'score' in ascending order.


candidate_details = {'Name':['Adam','Tom','Luther','David','Jerry'],
           'Attempts':[1,1,3,2,1],
           'Score':[25,10,30,19,16]}
candidate_details = pd.DataFrame(candidate_details, index=['a','b','c','d','e'])
print(f'{candidate_details}\n')

## After sorting

candidate_details.sort_values(by=['Name', 'Score'], ascending=[False, True])
print(candidate_details)

     Name  Attempts  Score
a    Adam         1     25
b     Tom         1     10
c  Luther         3     30
d   David         2     19
e   Jerry         1     16

     Name  Attempts  Score
a    Adam         1     25
b     Tom         1     10
c  Luther         3     30
d   David         2     19
e   Jerry         1     16

In [108]:
# Write a Python program to insert a new column in existing Data Frame.


candidate_details = {'Name':['Adam','Tom','Luther','David','Jerry'],
           'Attempts':[1,1,3,2,1],
           'Score':[25,10,30,19,16]}
candidate_details = pd.DataFrame(candidate_details, index=['a','b','c','d','e'])
print(f'{candidate_details}\n')


# After adding new column 'Age'
candidate_details['Age'] = [22,25,27,18,24]
print(candidate_details)

     Name  Attempts  Score
a    Adam         1     25
b     Tom         1     10
c  Luther         3     30
d   David         2     19
e   Jerry         1     16

     Name  Attempts  Score  Age
a    Adam         1     25   22
b     Tom         1     10   25
c  Luther         3     30   27
d   David         2     19   18
e   Jerry         1     16   24

In [110]:
# Write a Python program to change the name 'Adam' to 'James' in name column of the data frame.

candidate_details.Name.replace('Adam','James',inplace=True)
print(candidate_details)

     Name  Attempts  Score  Age
a   James         1     25   22
b     Tom         1     10   25
c  Luther         3     30   27
d   David         2     19   18
e   Jerry         1     16   24